REACT_APP_HELP_REPOSITORY_URL=https://github.com/cunhaluisg5/Scan_NFCe_Help
REACT_APP_API_DOCS_URL=http://localhost:3000/docs
REACT_APP_API_DOCS_JSON_URL=http://localhost:3000/docs.json
REACT_APP_SUPPORT_EMAIL=suporte@scan-nfce.local
REACT_APP_APP_REPOSITORY_URL=https://github.com/cunhaluisg5/Scan_NFCe
REACT_APP_API_REPOSITORY_URL=https://github.com/cunhaluisg5/TCC_Backend
