  
.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    background-color: #060b26;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    background-color: #060b26;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text span a:hover {
    background-color:#060b26;
  }
  
  .nav-menu-items {
    width: 100%;
    background-color: #060b26;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .container {
    text-align: center;
    background: #142541;
    width: 80%;
    margin-left: 250px;
  }

  .text-alert {
    color: #e25050;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-left: 5rem;
    background: none;
  }
  
  span {
    margin-left: 16px;
  }

  span:hover {
    color: #ffff00;
  }

  h1, h3, img {
    padding: 20px;
  }

  h1 {
    color: #FF870F
  }

  h3 {
    color: #d89857;
  }

  p {
    font-size: 18px;
    padding: 10px;
    color: #ccc
  }

  .verticalImage {
    width: 400px;
    background-color: #213e6d;
    padding: 5px;
  }

  .horizontalImage {
    width: 800px;
    background-color: #213e6d;
    padding: 5px;
  }